*{
    
}
.adel tr:nth-child(odd) td:nth-child(odd){
    background-color: rgb(214, 146, 168);
}
.adel tr:nth-child(even) td:nth-child(even){
    background-color: rgb(214, 146, 168);
}
/*menu*/
ul{
    list-style-type: none;
}
li:hover{
    color: pink;
}

/*  tablazatok */
table{
    border-collapse: collapse;
}
.viki tr:nth-child(even) td:nth-child(even){
        background-color: rgb(184, 103, 103);
    }
    tr:nth-child(odd) td:nth-child(odd){
        background-color: rgb(184, 103, 103);
    }
    tr,td{
        width: 20px;
        height:20px;
    }
    th{
        width: 20px;
        height: 20px;
        background-color: rgba(128, 128, 128, 0.464);
        
    }
/* grid */
main{
    display: grid;
    grid-template-areas: 
    "h h h"
    "a a n"
    "f f f"
    ;
}
article{
    grid-area: a;
}
header{
    grid-area: h;
}
nav{
    grid-area: n;
}
footer{
    grid-area: f;
}
/* reszp. */